:root {
  --add-color: #f5f4fa;
  --main-color: #212121;
  --bg-color: #2f303a;
  --add-bg-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
}
body {
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  justify-self: left;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: 93px;
}

.nav-item-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  justify-content: start;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  gap: 50px;
  margin-right: auto;
}
.info-link-item {
  color: var(--add-bg-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.info-link-item:hover,
.info-link-item:focus {
  color: var(--accent-color);
}
.list-info {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.info-link-item {
  display: inline-block;
  padding: 20px;
}

.hero {
  background-color: var(--bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-btn {
  font-family: inherit;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-advantages {
  display: flex;
  gap: 30px;
  align-items: flex-start;

}
.advantages-item-subtitle {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages-item-text {
  color: var(--add-bg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: block;
}
.advantages-item {
  flex-basis: calc((100% - 90px)/4);
}
.advantages-item::before {
  content: '';
  display: block;
  background-color: var(--add-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin: 0 auto;
  background-image: url(../images/advantages_svg1.svg);
  background-repeat: no-repeat;
  background-position: center;
} 
.advantages-item:nth-child(2)::before{
  background-image: url(../images/advantages_svg2.svg)
}
.advantages-item:nth-child(3)::before{
  background-image: url(../images/advantages_svg3.svg)
}
.advantages-item:nth-child(4)::before{
  background-image: url(../images/advantages_svg4.svg)
}
.performance {
  padding-top: 0px;
  padding-bottom: 94px;
  justify-content: center;
}
.performance-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  padding: 50px;
}
.list-performance {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.list-workers {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.workers {
  background-color: var(--add-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.workers-item-wrapper{
  background-color: var(--white-color);
  width: 270px;
height: 368px;
}
.workers-title {
  margin-bottom: 50px;
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.workers-item-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.workers-item-text {
  color: var(--add-bg-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--white-color);
  margin-bottom: 20px;
}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}
.address-item-link {
  padding-bottom: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
  gap: 9px;
}
.address-item-link:first-child {
  color: white;
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filters-item-btn {
 min-width: 73px;
 padding: 6px 22px;
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border:none;
}
.filters-item-btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.list-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-item{
  flex-basis: calc((100% - 60px)/3);
  border: 1px solid #EEE;
}
  .projects-item-wrapper{
    background-color: var(--white-color);
}
.projects-item-subtitle {
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}
.projects-item-text {
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--add-bg-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
