:root {
  --add-color: #f5f4fa;
  --main-color: #212121;
  --bg-color: #2f303a;
  --add-bg-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  justify-self: left;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: 93px;
}

.nav-item-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  justify-content: start;
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-right: auto;
}

.info-link-item {
  color: var(--add-bg-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0px;
  border-radius: 2px;
  transition: opacity 250ms
    cubic-bezier(0.4, 0, 0.2, 1) ;
}

.current::after:hover ,
.current::after:focus {
  opacity: 0.8;
}

.info-link-item:hover,
.info-link-item:focus {
  color: var(--accent-color);
}

.list-info {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.info-icon {
  display: inline-block;
  fill: var(--add-bg-color);
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}

.info-link-item:hover .info-icon,
.info-link-item:focus .info-icon {
  fill: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/bg_hero_webstudio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-btn {
  font-family: inherit;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-advantages {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.advantages-item-subtitle {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages-item-text {
  color: var(--add-bg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: block;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-item::before {
  content: "";
  display: block;
  background-color: var(--add-color);
  height: 120px;
  border-radius: 4px;
  background-image: url(../images/advantages_svg1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item:nth-child(2)::before {
  background-image: url(../images/advantages_svg2.svg);
}

.advantages-item:nth-child(3)::before {
  background-image: url(../images/advantages_svg3.svg);
}

.advantages-item:nth-child(4)::before {
  background-image: url(../images/advantages_svg4.svg);
}

.performance {
  padding-top: 0px;
  padding-bottom: 94px;
  justify-content: center;
}

.performance-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  padding: 50px;
}

.list-performance {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.performance-item {
  position: relative;
}

.performance-item-subtitle {
  position: absolute;
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  bottom: 0;
  padding: 27px;
}

.list-workers {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.workers {
  background-color: var(--add-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers-item {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.workers-item-wrapper {
  padding-bottom: 30px;
}

.workers-title {
  margin-bottom: 50px;
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.workers-item-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.workers-item-text {
  color: var(--add-bg-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.list-workers-soc-net {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 12px;
}

.workers-soc-net-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
 transition-property: background-color;
 transition-duration: 250ms  ;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  
}

.workers-soc-net-link:hover,
.workers-soc-net-link:focus {
  background-color: var(--accent-color);
}

.workers-soc-net-link:hover .workers-icon,
.workers-soc-net-link:focus .workers-icon {
  fill: var(--white-color);
}

.workers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.list-clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-item-link:hover .clients-icon,
.clients-item-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  gap: 70px;
}

.logo-footer {
  color: var(--white-color);
  margin-bottom: 20px;
}

.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.address-item-link {
  padding-bottom: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
  gap: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.address-item-link:hover,  .address-item-link:focus{
color: var(--accent-color);
}
.address-item-link:first-child {
  color: white;
}

.footer-text {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list-footer-soc-net {
  display: flex;
  gap: 10px;
}

.footer-icon {
  fill: var(--white-color);
}

.footer-soc-net-link {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-soc-net-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-text {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  padding-bottom: 20px;
}

.footer-form-input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  padding: 15px 0px 15px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.footer-form-btn {
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 28px 10px 28px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn::after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  cursor: pointer;
  opacity: 0.5;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filters-item-btn {
  min-width: 73px;
  padding: 6px 22px;
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-item-btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.list-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;

}

.projects-item-link {
  display: block;
  transition-property:box-shadow ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }


.projects-overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.projects-overley-text {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
}

.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.wrapper-project-image {
  overflow: hidden;
  position: relative;
}

.projects-item:hover .projects-overley {
  transform: translateY(0);
}

.projects-item-wrapper {
  background-color: var(--white-color);
  padding: 20px 24px;
}

.projects-item-subtitle {
  margin-bottom: 4px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.projects-item-text {
  color: var(--add-bg-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opa—Åity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.backdrop.is-hidden .modal {
  transform: translateX(-100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px 40px;
  background-color: white;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: transparent;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  padding: 6px 6px 6px 6px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btn:hover .modal-icon,
.btn:focus .modal-icon {
  fill: var(--accent-color);
}

.modal-form-text {
  color: var(--main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-form-label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: block;
}

.modal-form-label:not(:first-child) {
  margin-top: 10px;
}

.modal-form-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  outline: none;
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-textarea:hover,
.modal-form-textarea:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal-form-input:hover+.modal-form-icon,
.modal-form-input:focus+.modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input,
.modal-form-textarea {
  margin-top: 4px;
}

.modal-form-textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
}

.modal-form-checkbox {
  display: inline-flex;
  gap: 5px;
  margin-top: 20px;
  justify-content: center;
}

.modal-form-checkbox-text {
  padding-top: -5px;
}

.modal-form-checkbox-link {
  color: var(--accent-color);
}

.modal-form-btn {
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: block;
  margin: 0 auto;
  border: transparent;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin-top: 30px;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  cursor: pointer;
  opacity: 0.5;
}