:root {
  --add-color: #f5f4fa;
  --main-color: #212121;
  --bg-color: #2f303a;
  --add-bg-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
}
body {
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  justify-self: left;
  text-decoration: none;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: 93px;
}

.nav-item-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  justify-content: start;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  gap: 50px;
  margin-right: auto;
}
.info-link-item {
  color: var(--add-bg-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.info-link-item:hover,
.info-link-item:focus {
  color: var(--accent-color);
}
.list-info {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.info-icon {
  display: inline-block;
  fill: var(--add-bg-color);
  margin-right: 10px;
}
.info-link-item:hover .info-icon,
.info-link-item:focus .info-icon {
  fill: var(--accent-color);
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg_hero_webstudio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-btn {
  font-family: inherit;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
}
.hero-btn:hover {
  cursor: pointer;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-advantages {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.advantages-item-subtitle {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages-item-text {
  color: var(--add-bg-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: block;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  background-color: var(--add-color);
  height: 120px;
  border-radius: 4px;
  background-image: url(../images/advantages_svg1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(2)::before {
  background-image: url(../images/advantages_svg2.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../images/advantages_svg3.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../images/advantages_svg4.svg);
}
.performance {
  padding-top: 0px;
  padding-bottom: 94px;
  justify-content: center;
}
.performance-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  padding: 50px;
}
.list-performance {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.performance-item {
  position: relative;
}
.performance-item-subtitle {
  position: absolute;
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.80);
  width: 370px;
 top: 89%;
 left: 50%;
  transform: translate(-50%, -50%);
  padding: 27px;
  text-align: center;
}
.list-workers {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.workers {
  background-color: var(--add-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.workers-item {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.workers-item-wrapper {
  padding-bottom: 30px;
}
.workers-title {
  margin-bottom: 50px;
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.workers-item-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  
}
.workers-item-text {
  color: var(--add-bg-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.list-workers-soc-net {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 12px;
}
.workers-soc-net-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.workers-soc-net-link:hover,
.workers-soc-net-link:focus {
  background-color: var(--accent-color);
}
.workers-soc-net-link:hover .workers-icon,
.workers-soc-net-link:focus .workers-icon {
  fill: var(--white-color);
}
.workers-icon {
  fill: #afb1b8;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.list-clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.clients-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  justify-content: center;
}
.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-item-link:hover .clients-icon,
.clients-item-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-icon {
  fill: #afb1b8;
}
.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  gap: 70px;
}
.logo-footer {
  color: var(--white-color);
  margin-bottom: 20px;
}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.address-item-link {
  padding-bottom: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
  gap: 9px;
}
.address-item-link:first-child {
  color: white;
}
.footer-text {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
   margin-bottom: 20px;
}
.list-footer-soc-net {
  display: flex;
  gap: 10px;
}
.footer-icon {
  fill: var(--white-color);
}
.footer-soc-net-link {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
}
.footer-soc-net-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filters-item-btn {
  min-width: 73px;
  padding: 6px 22px;
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.filters-item-btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.list-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
}
.projects-item-link {
  display: block;
}
.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-item-wrapper {
  background-color: var(--white-color);
  padding: 20px 24px;
}
.projects-item-subtitle {
  margin-bottom: 4px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}
.projects-item-text {
  color: var(--add-bg-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
